---
mounts_enabled: false
pubkey_ansible: "ssh-rsa AAAAB2NzaC1yc2EAAAADAQABAAABAQDB67na/KqifJi98fyZx6BYqyMLdzFhF9OIasdfUveHnX0XlfXPpa63x7hrONPq7jcK3bkic0YFdblwlh9Rb8b1UJYcxFrbK3DGiGqOYRbrIJF5GWwGbOD3NFuBoX9caV77T7GmMTIXz/AC2C8CCHIEhkftc2berdLiVYhCkXr8BEEgX6VyCxFGnHVw5S4bHJrSqIWpu83lGU48RU804B1QsnR3tGHJ0w1IW183xpW324WloM+UCaczq7+Wjb29//5n/oUX4np2uYLaV2v4JC8JwcKJMsyrv4D3f1pR20D71E0sPwKdKVQ9QY68qovl1HlHIFTuTbZepeBF8aJ6jxNt root@deb10"
ansible_inventory_username: "ansible"
#generated with: openssl passwd -1 --salt testson
ansible_pass: '$1$testson$89l7o1k4nP0oNHwPQQGDP1'
root_pass: '$1$testson$89l7o1k4nP0oNHwPQQGDP1'
publickey_ansible: "ssh-rsa AAAAB2NzaC1yc2EAAAADAQABAAABAQDB67dc/KqifJi966yZx6BYqyMLdzFhF9OIjn71UveHnX0XlfXPpa63x7hrONPq7jcK3bkic0Y110yllh9Rb8b1UJYcxFrbK3DGiGqOYRbrIJF5GWwGbOD3NFuBoX9caVUmT7GmMTIXz/AC2C8CCHIEhkftc2berdLiVYhCkXr8BEEgX6VyCxFGnHVw5S4bHJrSqIWpu83lGU48RU804B1QsnR3tGHJ0w1IW183xpW324WloM+UCaczq7+Wjb29//5n/oUX4np2uYLaV2v4JC8JwcKJMsyrv4D3f1pR20D71E0sPwKdKVQ9QY68qovl1HlHIFTuTbZepeBF8aJ6jxNt root@deb10"
username_default: primaryuser
publickey_default: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDgiqLqpbtnajveGut0MVeqtG9v/GDTwUbY98Btdb9G9EUWiXJOXcXccukKoZ5I4iFajENIzxNEIzsa9rfcgwkwBwDS8I5o+oGvCGue3k8ihq9K1EKw3f404CgUCYG5dhQBqLJm5zjuuKMdnsREGe8PCmJtx0pZrLKphds58YGdYt651PCEq+/DCnvoKJVSSnEwCPKqFB6f2PFKlsjnI40CLQP2qe+ugmHre/ndFMo5hxk/s5WXnIKL5JMMfdrfC4xM8mUYuyMaWmGquh2s+bZWRnjfjrlGUsOl4KgE7nZtWDaWTalvTAEjuM3l2JXLOy3KikzspVQQIBTO4bht8UVt `$USER1_USERNAME`@`HOST1_HOSTNAME`"
samba_enabled: false
