---
all:
  hosts:
  children:
    debian_based:
      hosts:
        8.8.8.8: #home
    tor:
      hosts:
      children:
        windows:
          hosts:
            winhost1:
              ansible_host: 7lfdpbs54n4t4ecpn5gagqocw6veng2h7adrudetghewhsswhetq3tqd.onion
            winhost2:
              ansible_host: fazszn6q6mg5etfi2ch7x5nx6hphagwhwrwg5dwsvaws2v5b7wccueid.onion
        raspbian:
          hosts:
          children:
            hostgrouptesting:
              hosts:
                raspi_testing:
                  ansible_host: tv5sgsy7f3hhohz4mmc72ixorgfvhzirndgndgfhjnsedhesthesthes.onion  
                  mounts_enabled: true
                  mounts_path: '/mount'
                  mounts_uuid: 'c4cec055-1638-4ec9-9860-e98dec1edd69'
                gcp:
                  ansible_host: g4lhhkd2kmmo7a667kgshjdhgfdsgfasgsfdgafswgwrtwrtwargsfdf.onion
                  samba_enabled: false
            hostgroupstable:
              hosts:
                raspi_stable:
                  ansible_host: mmnsaylvetzhrhzehg3ts4cpncgwh2sd6riesxgc3hleaobfa7kstlid.onion
                  mounts_enabled: true
                  mounts_path: '/mnt'
                  mounts_uuid: '09b4c4a2-7c8b-47dd-cc7b-e12d113a18e5'
